.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about-me__text-wrap {

  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 28px;
  }
}
