.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .about-me__text-wrap {

  }
  h1 {
    font-size: $font-size-xl;
  }
  h2 {
    font-size: $font-size-m;
  }
}
