.portfolio {
  .portfolio__item {
    height: 300px;
    background-size: cover;
    position: relative;
  }
  .portfolio__link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 16px;
    color: #2B2E31;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    transition: all 500ms ease;
    &:hover {
      text-decoration: none;
      padding-bottom: 30px;
    }
    & .glyphicon {
      font-size: 10px;
    }
  }
}
