.portfolio {

  > h3 {
    padding-bottom: 10px;

  }

  h4 {
    text-align: center;
    padding-bottom: 80px;
    letter-spacing: 0.5px;
  }

  .portfolio__item {
    height: 300px;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    .portfolio__item-description,
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .portfolio__description-text {
      font-size: 20px;
      text-align: center;
    }
    .portfolio__item-description {
      z-index: 2;
      padding: 30px 60px;
      background: #131c3a;
      opacity: 0;
      transform: translateY(100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }
    .portfolio__item-snow-more {
      margin-top: 16px;
      border: 1px solid $color-white;
      padding: 8px 24px;
      background: none;
      border-radius: 19px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      &:hover,
      &:focus {
        cursor: pointer;
        outline: none;
        background: #fff;
        color: #2B2E31;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
    &:hover {
      cursor: pointer;
      .portfolio__item-description {
        opacity: 1;
        transform: translateY(0);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
  }
  .portfolio-list {
    > li {
      margin-bottom: 30px;
    }
  }
  //.portfolio__link {
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  padding: 10px;
  //  font-size: $font-size-xxs;
  //  color: #2B2E31;
  //  background-color: rgba(255, 255, 255, 0.7);
  //  font-weight: bold;
  //  transition: all 500ms ease;
  //  &:hover {
  //    text-decoration: none;
  //    padding-bottom: 30px;
  //  }
  //  & .glyphicon {
  //    font-size: $font-size-xxxs;
  //  }
  //}
}


.modal-portfolio-details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: $color-white;
  overflow-y: scroll;
  color: #2B2E31;
  padding-bottom: 100px;
  transform: translateY(0);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  &.modal-portfolio-details--hide {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    transform: translateY(100%);
  }
  .modal-portfolio-details__close-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: $font-size-m;
    border: 0;
    background: transparent;
    z-index: 10;
    @media (min-width: 768px) {
      top: 30px;
      right: 100px;
    }
    &:focus {
    outline: 0;
  }
  }
  .modal-portfolio-details__slider-wrapper {
    padding-bottom: 40px;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
  .my-slider,
  img {
    height: 400px;
    @media(max-width: 767px) {
      height: 200px;
    }
  }
  .my-slider {
    overflow: hidden;
  }
  .modal-portfolio-details__title {
    font-size: $font-size-m;
  }
  .modal-portfolio-details__subtitle {
    font-size: $font-size-s;
    color: #34373A;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .modal-portfolio-details__tech-list {
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 10px 10px 10px 0;
      background: #b3b3b3;
      border-radius: 3px;
      padding: 3px 6px;
    }
  }
  .container {
    padding-top: 50px;
    @media (max-width: 767px) {
      padding-top: 100px;
    }
  }

  .tns-outer {
    display: flex;
    flex-direction: column-reverse;
  }
  .tns-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    button {
      background: none;
      width: 10px;
      height: 10px;
      border: 2px solid #3b3b3b;
      border-radius: 50%;
      margin: 0 3px;
      &.tns-nav-active {
        background: #3b3b3b;
      }
    }
  }
}
