.portfolio {

  > h3 {
    padding-bottom: 10px;

  }

  h4 {
    text-align: center;
    padding-bottom: 80px;
  }

  .portfolio__item {
    height: 300px;
    background-size: cover;
    position: relative;
  }
  .portfolio__link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: $font-size-xxs;
    color: #2B2E31;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    transition: all 500ms ease;
    &:hover {
      text-decoration: none;
      padding-bottom: 30px;
    }
    & .glyphicon {
      font-size: $font-size-xxxs;
    }
  }
}


.modal-portfolio-details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-white;
  overflow-y: scroll;
  color: #2B2E31;
  padding-bottom: 100px;
  transform: translateY(0);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

  &.modal-portfolio-details--hide {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transform: translateY(100%);
  }
  .modal-portfolio-details__close-btn {
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: $font-size-m;
    border: 0;
    background: transparent;
    &:focus {
    outline: 0;
  }
  }
  .modal-portfolio-details__slider-wrapper {
    padding-bottom: 40px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .my-slider {
    height: 400px;
    overflow: hidden;
  }
  .modal-portfolio-details__title {
    font-size: $font-size-m;
  }
  .modal-portfolio-details__subtitle {
    font-size: $font-size-s;
    color: #34373A;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .modal-portfolio-details__tech-list {
    display: flex;
    li {
      margin: 10px 10px 10px 0;
      background: #b3b3b3;
      border-radius: 3px;
      padding: 3px 6px;
    }
  }
  .container {
    padding-top: 50px;
  }
}
