@font-face {
  font-family: 'PublicSans-Medium';
  src: url('./dist/fonts/PublicSans/PublicSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('./dist/fonts/PublicSans/PublicSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./dist/fonts/PublicSans/PublicSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('./dist/fonts/PublicSans/PublicSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('./dist/fonts/PublicSans/PublicSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('./dist/fonts/PublicSans/PublicSans-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
